<div class="container">
<%= form_with(model: @task, local: true) do |form| %>
<% if @task.errors.present? %>
  <% @task.errors.full_messages.each do |message| %>
    <ul>
      <div class='alert alert-notice' role='alert'>
        <li><%= message %></li>
      </div>
    </ul>
  <% end %>
<% end %>
<%= link_to 'Main', tasks_path %>

  <div class="field">
    <p class="text-left">
    <%= form.text_field :title, placeholder: 'Task Name' %>
    <%= form.text_field :content, placeholder: 'Task Details' %>
    <%= form.date_field :duedate, placeholder: 'Deadline' %>
    <%= form.select :status, ['pending','started','completed'], placeholder: 'Status' %>
    <%= form.select :priority,['low','medium','high'], placeholder: 'Priority' %>
    <%= form.collection_check_boxes(:label_ids, @labels, :id, :name) %>
    <%= form.submit %>
    </p>
  </div>
<% end %>
</div>
