<h1 class = "center">List of Users</h1>
<br>

<%= link_to 'Create user', new_admin_user_path, class: "btn btn-info" %>
<hr>

<div class="link center">
  <%= link_to 'Create user', new_admin_user_path, class: "btn btn-info" %>
</div>
<br>

<table class ="table table-striped">
  <thead>
    <tr>
      <th>UserID</th>
      <th>Username</th>
      <th>Email</th>
      <th>No. of tasks</th>
      <th>User admin priviledges</th>
      <th colspan="4"></th>
   </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, admin_user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.tasks.length %></td>
      <td><%= user.admin? ? "Yes":"No" %></td>
      <td><%= link_to 'Show', admin_user_path(user), class: "btn btn-warning" %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-success" %></td>
      <td><%= link_to 'Delete', admin_user_path(user), class: "btn btn-danger" method: :delete, data: { confirm: "Delete #{@user.name}?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
